<!DOCTYPE html>
<!--Dont add header and body to any pages because it will already be bootstrapped by _layout.cshtml. 
link any stylesheets we need to that-->
<link rel="stylesheet" href="/css/returnedWeatherClean.css">

<body class="pageContent">

    <div class="bodyContent">

        <div class="date-time-header">
            <p class="top-left" id="date"></p>
            <p class="top-right" id="time"></p>
        </div>

        <h2 class="locationName">@ViewData["location"]</h2>
        <!-- putting the conditions before the temerature and then the emoji between them-->
        <p class="conditions">@ViewData["conditions"]</p>
        <!--adding a conditions div so i can target it with styling-->
        <div class="conditionsIcon">@ViewData["conditionsIcon"]</div>
        <p class="temperature">@ViewData["temperature"] @ViewData["unitSymbol"]</p>

        <div class="unitSelector">
            <header>
                <p2><strong>Looking for a different unit?</strong></p2>
            </header>

            <form action="/Weather/DisplayWeather" method="get">

                <input type="hidden" name="zipCode" value="@ViewData["zipCode"]" />

                <label for="unit">Change Unit:</label>
                <select name="unit" id="unit" onchange="this.form.submit()">

                    <option value="fahrenheight">Fahrenheit (°F)</option>

                    <option value="celcius">Celsius (°C)</option>

                    <option value="kelvin">Kelvin (°K)</option>
                </select>
            </form>
        </div>

        <div style="margin-top: 10px;">
            <a href="/Weather/EnterZipPage" class="btn btn-primary">Return to Home Page</a>
        </div>
    </div>
</body>

</html>